.container{
    display:grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;/*fr -fraction*/
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas:
        "Nav Nav Nav Nav"
        "Sidebar Main Main Main"
        "Sidebar Content1 Content2 Content3"
        "Sidebar Footer Footer Footer"
    
    ;
    grid-gap:5px;
}

nav{
    background-color: #ee5a04;
    grid-area:Nav;
}
main{
    background-color: #46ee04;
    grid-area: Main;
}
#sidebar{
    background-color: #09e5f5;
    grid-area:Sidebar;
}
#content1{
    background-color: #098bf5;
    grid-area: Content1;
}
#content2{
    background-color: #aa09f5;
    grid-area: Content2;
}
#content3{
    background-color:#3f0729 ;
    grid-area: Content3;
}
footer{
    background-color: #e23376;
    grid-area: Footer;
}

